extends layout
block content

    div(class="sqs-layout promoted-gallery-wrapper" id="promotedGalleryWrapper")
        div(class="row")
            div(class="col")
    div(data-content-field="main-image" class="banner-thumbnail-wrapper has-description")
        div(class="color-overlay")
        figure(class="loading content-fill" id="thumbnail" style="overflow: hidden;")
            img(data-image-focal-point="0.5,0.5" data-image-dimensions="724x482" data-image="http://static1.squarespace.com/static/54740e75e4b0712a5b694955/t/5499c555e4b0bff45931a593/1419363670095/Stacked-Rocks-Green+Bkgrnd+724x482.jpg" data-src="http://static1.squarespace.com/static/54740e75e4b0712a5b694955/t/5499c555e4b0bff45931a593/1419363670095/Stacked-Rocks-Green+Bkgrnd+724x482.jpg" style="top: -347px; left: 0px; width: 1903px; height: 1267px; position: relative;" alt="Stacked-Rocks-Green Bkgrnd 724x482.jpg" class="" src="http://static1.squarespace.com/static/54740e75e4b0712a5b694955/t/5499c555e4b0bff45931a593/1419363670095/Stacked-Rocks-Green+Bkgrnd+724x482.jpg?format=1500w" data-image-resolution="1500w")
        div(data-collection-id="54741626e4b086b091a662d8" class="desc-wrapper")
            //p Organizing You
            p(id="yui_3_17_2_1_1422493414370_506")
                strong(data-shrink-original-size="68" style="letter-spacing: 0.0588235em;") S H E D
            //p
                //a(href="/what-we-do") Learn More
    main(role="main" id="page")
        a(id="Top")
        div(class="sqs-block-content")
            div(class="col sqs-col-12 span-12")
                div(id="block-yui_3_17_2_10_1419374213691_13512" class="sqs-block html-block sqs-block-html" data-block-type="2")
                    h1(class="text-align-center" id="shed-title") SHED Questions

            // USER LIST
            div(id="shed-description")
                p On a scale of 1 (strongly agree) to 5 (strongly disagree), rate your level of agreement with the following statements.
            #userList
                form
                    table
                        thead
                            th Questions
                            th 1
                            th 2
                            th 3
                            th 4
                            th 5
                        tbody
                    div(class="shed-form-button-wrapper submit-wrapper")
                        button(id="btnSHEDScore" class="shed-form-button sqs-system-button sqs-editable-button-layout sqs-editable-button-style sqs-editable-button-shape" type="submit" value="Submit")
                            //span(class="newsletter-form-spinner sqs-spin light large")
                            span(class="newsletter-form-button-label") Submit
                            //span(class="newsletter-form-button-icon")
        |<!-- comment the linebreak between these two elements because science
        |--><!-- comment the linebreak between these two elements because science
        |    --><!-- comment the linebreak between these two elements because science
        |    --><div data-content-field="main-content" class="main-content" id="content">
        div(id="page-54741626e4b086b091a662d8" data-updated-on="1420577316738" data-type="page" class="sqs-layout sqs-grid-12 columns-12")
            div(class="row sqs-row")
                div(class="col sqs-col-12 span-12")
                    div(class="row sqs-row")
                        div(class="col sqs-col-1 span-1")
                            div(id="block-yui_3_17_2_3_1419294106649_28331" data-block-type="21" class="sqs-block spacer-block sqs-block-spacer sized vsize-1")
                                div(class="sqs-block-content")
                                    |&nbsp;

                div(class="row sqs-row")
                    div(class="col sqs-col-1 span-1")
                        div(id="block-yui_3_17_2_53_1417030786881_10270" data-block-type="21" class="sqs-block spacer-block sqs-block-spacer sized vsize-1")
                            div(class="sqs-block-content")
                                |&nbsp;