//
   Created by Sangmin on 2/5/2015.
extends layout
block content
    #addQuestion
        fieldset
            textarea#inputQuestion(type='text', placeholder='Question')
            input#inputSHED(type='text', placeholder='SHED')
            br
            button#btnAddQuestion Add Question